In [59]:
## IMPORT AND MAKE DATAFRAME 

# Import requests package
import requests

# import pandas

import pandas as pd

# import json
import json

# import data jason file 

#r = 'data/lite.json' --> use when flatted

# Create Data Frame

#df = pd.read_json(r) --> use when flatted

#load data using Python Json module --> use when to flatten
with open('data/lite.json', 'r') as f:
    data = json.loads(f.read())

#normalizing data  --> only meta there is no record_path!
df = pd.json_normalize(data, sep="_", 
                                        meta= ["id",
                                            ["name", "en"],
                                            "country",
                                            "region",
                                            ["identifiers", "national"],
                                            ["identifiers", "wmo"],
                                            ["identifiers", "icao"],
                                            ["location", "latitude"],
                                            ["location", "longitude"],
                                            ["location", "elevation"],
                                            "timezone",
                                            ["inventory", "model","start"],
                                            ["inventory", "model","end"],
                                            ["inventory","hourly","start"],
                                            ["inventory","hourly","end"],
                                            ["inventory","daily","start"],
                                            ["inventory","daily","end"],
                                            ["inventory","monthly","start"],
                                            ["inventory","monthly","end"],
                                            ["inventory","normals","start"],
                                            ["inventory","normals","end"]])


# show created columns
#df.columns

#print 5 rows
df.head(5)

# null Values check

#df.info()

# in sql database





import psycopg2

from sql_functions import get_engine

# create a variable called engine using the get_engine function
engine = get_engine()

schema = 'cgn_analytics_22_3' # your course schema name, example 'hh_analytics_22_1
table_name = 'weather_stations_group_3'

if engine!=None:
    try:
        df.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        schema=schema, # your class schema
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

#

{'host': 'data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com', 'port': '5432', 'database': 'postgres', 'user': 'katjabucher', 'password': 'wIfMTchl5LEK8N3s'}
The weather_stations_group_3 table was imported successfully.

In [ ]:


#booleans = list(map(df.name_en.__contains__,airports))
#print(booleans)